dash==0.19.0
dash-core-components==0.14.0
dash-html-components==0.8.0
dash-renderer==0.11.1
decorator==4.1.1
entrypoints==0.2.3
flake8==3.5.0
Flask==0.12.2
Flask-Compress==1.4.0
numpy==1.13.1
pandas==0.20.3
pandocfilters==1.4.1
scikit-learn==0.19.0
scipy==0.19.1
statsmodels==0.8.0
gunicorn==19.7.1
